body{
  margin-left: 0;
  margin-right: 0;
}

.tree-structure{
  text-align: center;
}

span {
  display: inline-block;
}

.parentNode ~ div{
  display: inline-block;
  vertical-align: top;
}

.parentNode + .parentNode{
  margin-left: 10px;
}

.tree-structure > div svg:first-of-type{
  display: block;
  margin: 0 auto;
}